body {
  max-inline-size: 40em;
  margin-inline: auto;
  line-height: 2;
}

time,
em {
  font-family: sans-serif;
}

p,
pre,
dd {
  font-family: serif;
  text-align: justify;
}

em {
  font-style: normal;
  font-weight: bold;
}

strong {
  text-decoration: underline;
}

pre {
  white-space: pre-wrap;
}

nav {
  text-align: center;
}

.prev {
  float: inline-start;
}

.next {
  float: inline-end;
}

.ancestor {
  display: block;
  clear: both;
}
