body {
  max-inline-size: 40em;
  margin-inline: auto;
  line-height: 2;
}

p {
  font-family: serif;
  text-align: justify;
  margin-block: 0;
}

em {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

nav {
  text-align: center;
}

.prev {
  float: inline-start;
}

.next {
  float: inline-end;
}

.ancestor {
  display: block;
  clear: both;
}
