* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.content {
  display: grid;
  grid-template:
    "aside main" auto
    / 1fr minmax(auto, 40em) 1fr;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

a:link {
  color: #006a9f;
}

a:visited {
  color: #884882;
}

a:hover {
  color: #22753f;
}

a:active {
  color: #925100;
}

article pre {
  font-family: serif;
  white-space: pre-wrap;
  line-height: 2;
}

footer nav {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
}

.previous {
  grid-column: 1;
  justify-self: start;
}

.post .previous::before {
  content: "前：";
}

.next {
  grid-column: 2;
  justify-self: end;
}

.post .next::before {
  content: "次：";
}

.up {
  grid-row: 2;
  grid-column: 1 / span 2;
  justify-self: center;
}
