* {
  box-sizing: border-box;
}

body {
  max-inline-size: 41em;
  margin-inline: auto;
  padding-inline: 0.5em;
  font-family: sans-serif;
}

article pre {
  font-family: serif;
  white-space: pre-wrap;
  line-height: 2;
}

footer nav {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
}

.previous {
  grid-column: 1;
  justify-self: start;
}

.next {
  grid-column: 2;
  justify-self: end;
}

.up {
  grid-row: 2;
  grid-column: 1 / span 2;
  justify-self: center;
}
