<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title %}{{ title }}{% else %}{{ page.date | toShortLocaleString }}{% endif %}{% if subtitle %} - {{ subtitle }}{% endif %}</title>
  </head>
  <body>{{ content }}</body>
</html>