---
layout: base.liquid
title: 閉塞圏
---

<main>
  <h1>
    <a href="{{ page.url }}">閉塞圏</a>
  </h1>
  <nav>
    <a href="/blog">ブログ</a>
    <a href="/diary">日記</a>
    <a href="/nsfw">NSFW</a>
  </nav>
  <aside>各ページのURLはsubject to changeである。</aside>
</main>
