---
layout: base.liquid
title: 閉塞圏
---

<main>
  <h1>閉塞圏</h1>
  <nav>
    {% for tag in tags %}
    <a href="/{{ tag.slug }}/">{{ tag.name }}</a>
    {% endfor %}
  </nav>
  <aside>各ページのURLはsubject to changeである。</aside>
</main>
